.mainContent {
  display: flex;
}

.sidebar {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.title {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #e0e0e0; 
}

.content {
  width: 80%;
  padding: 10px;
}

.categoryList {
  list-style: none;
  padding: 0;
}

.categoryItem {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.categoryItem:hover {
  background-color: #e6e6e6;
  transition: background-color 0.3s ease;
}

.activeCategory {
  background-color: #0073e6;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.faqItem {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.5;
}

.faqItem:hover {
  color: #0073e6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.faqList {
  padding-left: 20px; /* 텍스트와 컨테이너의 여백 추가 */
}

.headerButtons{
  background-color: white;
  display: flex;
  justify-content: end;
  
}

.faqContainer {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

