/* 로그인 컨테이너 */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f8ff, #d1e7ff); 
  color: #334e68; 
  font-family: 'Roboto', sans-serif;
}

/* 로그인 박스 */
.login-box {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1); 
  max-width: 400px;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(8px); 
}

/* 로그인 제목 */
.login-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #334e68;
  letter-spacing: 2px;
}

/* 입력 그룹 */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 16px;
  color: #55697e; 
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #334e68; 
  outline: none;
}

.input-group input::placeholder {
  color: #8899a6;
}

/* 로그인 버튼 */
.login-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #4c8bf5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #3a72d9; 
}

/* 회원가입 링크 */
.signup-prompt {
  margin-top: 20px;
  font-size: 14px;
  color: #55697e;
}

.signup-link {
  color: #4c8bf5;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Face 로그인 버튼 */
.face-login-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #334e68;
  background-color: #ffcc00; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px; /* 로그인 버튼과 간격 */
  transition: background-color 0.3s ease;
}

.face-login-button:hover {
  background-color: #e6b800;
}


/* 반응형 스타일 */
@media (max-width: 768px) {
  .login-box {
    padding: 30px;
  }

  .login-title {
    font-size: 28px;
  }
}
