.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 150px;
  text-align: center;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  width: 373px;
  margin-bottom: 15px;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.button {
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.disabledButton {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* 메시지 */
.successMessage {
  margin-top: 15px;
  font-size: 16px;
}

.errorMessage {
  margin-top: 15px;
  font-size: 16px;
}
