/* src/pages/member/Login.module.css */

.container {
  text-align: center;
  padding: 20px;
}

.form {
  display: inline-block;
  text-align: left;
}

.inputGroup {
  margin-bottom: 10px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 (필요할 경우 추가) */
  margin-top: 10px; /* 버튼 상단 여백 */
}

.button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #004080;
}

.apiButton {
  background: none;
  border: none; /* 테두리 제거 */
  padding: 0;
  cursor: pointer;
  display: inline-block;
  outline: none; /* 클릭 시 테두리 제거 */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* 애니메이션 추가 */
}

.apiButton:hover {
  background: none;
}

.apiButtonImage {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.apiButton:hover .apiButtonImage {
  filter: brightness(0.9);
}


.faceIdButton {
  background-color: #fff; 
  border: 1px solid #000;
  color: #000; 
  padding: 11px 35px;
  font-size: 16px; 
  font-weight: bold; 
  border-radius: 25px; 
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.faceIdButton:hover {
  background-color: #f0f0f0;
}
