
.container {
  display: flex; /* 좌우 정렬 */
  justify-content: space-between; /* 공간 분배 */
  align-items: flex-start; 
  text-align: center;
  padding: 20px;
}

.form {
  display: inline-block;
  text-align: left;
  width: 50%; /* 왼쪽 폼 섹션 */
  padding-right: 20px; /* 오른쪽과 여백 */
  border-right: 1px solid #ccc; /* 구분선 */
  box-sizing: border-box;
}

.inputGroup {
  margin-bottom: 10px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex; 
  align-items: center;
  margin-top: 10px;
}

.button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #004080;
}

.apiButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.apiButton:focus,
.apiButton:active {
  outline: none;
  border: none;
}


.apiButtonImage {
  width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.apiButton:hover {
  background-color: white; 
}

.apiButton:hover .apiButtonImage {
  filter: brightness(0.9);
}

.findInfo {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  display: inline;
  justify-content: center;
  gap: 5px;
}

.link {
  color: #007bff;
  text-decoration: none;
  
}

.link:hover {
  text-decoration: underline;
}




/* 오른쪽 Face ID 섹션 */
.faceIdSection {
  width: 45%; /* 오른쪽 섹션 */
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  text-align: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.faceIdButton {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0; /* 상하 여백 */
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  white-space: nowrap; /* 텍스트 안잘리도록 설정  */
}

.faceIdButton:hover {
  background-color: #f0f0f0;
}

.faceIdText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  white-space: nowrap; /* 텍스트 안잘리도록 설정 */
}
