/* 전체 페이지 배경 */
.pageBackground {
  background: #F2F2F2;
  padding: 20px 0;
}

/* 게시글 상세보기 컨테이너 */
.detailContainer {
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border: 0.6px solid #D8D8D8;
}

/* 제목과 버튼 그룹 */
.titleAndButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 게시글 정보 */
.postInfo {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #555;
}

/* 댓글 컨테이너 */
.repliesContainer {
  margin-top: 20px;
  white-space: pre-wrap; /* 공백과 줄바꿈을 그대로 유지 */
  word-wrap: break-word; /* 긴 단어가 줄을 넘을 경우 줄 바꿈 */
}

/* 댓글 아이템 */
.replyItem {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

/* 댓글 헤더 */
.replyHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

/* 댓글 내용 */
.replyContent {
  font-size: 1rem;
  color: #333;
}

/* 댓글 액션 버튼 */
.replyActions button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.9rem;
}

.replyActions button:hover {
  text-decoration: underline;
}

/* 첨부파일 섹션 */
.attachedFilePlaceholder {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #555;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fileLink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.fileLink:hover {
  text-decoration: underline;
}

.noFile {
  color: #888;
}

.fileIcon {
  margin-right: 5px;
  font-size: 1rem;
}

/* 액션 링크 스타일 (댓글 달기, 수정, 삭제) */
.actionsContainer {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #6c757d;
}

.actionLink {
  cursor: pointer;
  color: #6c757d;
  text-decoration: none;
}

.actionLink:hover {
  text-decoration: underline;
  color: #343a40; /* hover 시 색상 변경 */
}

.separator {
  margin: 0 5px;
  color: #ced4da; /* 구분자 색상 */
}

/* 첨부 이미지 컨테이너 */
.imagePreviewContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.attachedImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
