/* 전체 컨테이너 스타일 */
.mypageEditContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 30px;
}

/* 제목 스타일 */
.mypageEditTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
}

/* 폼 스타일 */
.mypageEditForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 레이블 스타일 */
.mypageLabel {
  font-size: 16px;
  color: #555;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 8px;
}

/* 입력 필드 스타일 */
.mypageInput,
.mypageSelect {
  width: 580px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #fff;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.mypageInput:focus,
.mypageSelect:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
}

/* 버튼 공통 스타일 */
.mypageButton {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  width: 100%;
}

/* 저장 버튼 */
.mypageButtonPrimary {
  background-color: #007bff;
}

.mypageButtonPrimary:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mypageButtonDisabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666;
}

/* Face ID 등록 버튼 */
.mypageFaceIDButton {
  background-color: #007bff;
}

.mypageFaceIDButton:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Face ID 삭제 버튼 */
.mypageFaceIDDeleteButton {
  background-color: #6c757d; /* 회색 계열 */
}

.mypageFaceIDDeleteButton:hover {
  background-color: #5a6268; /* 어두운 회색 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 소셜 연동 버튼 */
.mypageSocialButton {
  background-color: #17a2b8;
}

.mypageSocialButton:hover {
  background-color: #138496;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 소셜 연동 해제 버튼 */
.mypageSocialUnlinkButton {
  background-color: #6c757d; /* 회색 계열 */
}

.mypageSocialUnlinkButton:hover {
  background-color: #5a6268; /* 어두운 회색 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 로딩 및 에러 */
.mypageLoading {
  text-align: center;
  font-size: 18px;
}

.mypageError {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .mypageEditContainer {
    padding: 20px;
  }

  .mypageEditTitle {
    font-size: 24px;
  }

  .mypageLabel {
    font-size: 14px;
  }

  .mypageInput,
  .mypageSelect {
    font-size: 13px;
    padding: 10px;
  }

  .mypageButton {
    font-size: 14px;
    padding: 10px;
  }
}
