.mypage-layout {
  display: flex;
  height: 100vh;
  background-color: #f5f7fa;
  font-family: "Arial", sans-serif;
}

.tabs-container {
  border-radius: 15px;
  margin: 20px;
  width: 220px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  border: 1px solid #e0e0e0;
}

.tabs-container .tab {
  background-color: #f9f9f9;
  color: #333;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border: 1px solid #e0e0e0;
}

/* 탭이 활성화 상태인 경우 */
.tabs-container .tab.active {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
}

/* 탭을 호버한 경우 */
.tabs-container .tab:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.content-container {
  flex: 1;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
}
