.qna-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2.5%;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; /* QnA 내용이 좌측 정렬되도록 설정 */
}

.qna-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center; /* 제목은 중앙 정렬 */
}

.qna-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: center; /* 설명도 중앙 정렬 */
}

.qna-list {
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
}

.qna-item {
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qna-item strong {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.qna-item p {
  font-size: 14px;
  color: #555;
  margin: 0;
  line-height: 1.4;
}
