/* 공지사항 컨테이너 */
.noticecontainer {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* 공지사항 제목 */
.noticetitle {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #e0e0e0; 
}

.headerButtons{
  background-color: white;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

/* 공지사항 테이블 */
.noticeList {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.noticeList th {
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #555; 
  text-align: left;
  border-bottom: 2px solid #e0e0e0; 
}

.noticeList td {
  padding: 12px 10px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
}

.noticeList tr:hover {
  background-color: #f9f9f9; 
}

.noticeitem {
  cursor: pointer; 
  transition: background-color 0.3s;
}

.noticeitem:hover {
  background-color: #f5f5f5; 
}

/* 제목 스타일 */
.nTitle {
  font-weight: bold;
  color: #007bff; 
  cursor: pointer;
}


/* 작성자 */
.nWriter {
  color: #666; 
  font-size: 16px;
}

/* 첨부파일 아이콘 */
.ofileName img {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.ncreatedAt,
.nupdatedAt,
.nCount {
  font-size: 16px;
  color: #999; 
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin: 20px 0;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: red;
  margin: 20px 0;
}
